* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 109px;
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    color: rgb(23, 23, 23);
    text-transform: uppercase;
    line-height: 1.073;
    /*text-align: left;*/
    z-index: 6;
}
h2 {
    font-size: 27px;
    font-weight: 400;
    font-family: "DIN Pro", sans-serif;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    text-align: left;
}

.helo_txt {
    font-size: 10.734px;
    font-family: "DIN Pro";
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    line-height: 4.074;
    /*text-align: left;*/
    z-index: 7;
}
