* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 109px;
    font-family: "Gilroy", serif;
    font-weight: 300;
    color: rgb(23, 23, 23);
    text-transform: uppercase;
    /*line-height: 1.073;*/
    /*text-align: left;*/
    z-index: 6;
}
h2 {
    font-size: 27px;
    font-weight: 400;
    font-family: "DIN Pro", sans-serif;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    text-align: left;
}

p {
    font-size: 24px;
    font-family: "DIN Pro", sans-serif;
    color: rgb(23, 23, 23);
    line-height: 1.364;
    z-index: 1;
}

h3 {
    font-size: 18.674px;
    font-family: "Gilroy", sans-serif;
    color: rgb(140, 201, 232);
    font-weight: bold;
    line-height: 1.2;
}


.background-img {
    width: 3072px;
    height: 768px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*z-index: -100;*/
}
