.content {
    max-width: 1024px;
    padding: 30px 50px 20px 80px;

}

/* Main part */
.content__greetings {
    margin-top: 138px;
}

.content__main {
    margin-top: 40px;
}

.content__main h1, img{
    display: inline;
}

.content__main img {
    margin-left: 50px;
}

