.content {
    min-width: 1024px;
    position: relative;
}

.content__container {
    padding: 0 50px 20px 70px;
}

/* Main part */
.content__greetings {
    margin-top: 168px;
}

.content__main {
    margin-top: 38px;
}

.content__img {
    position: absolute;
    right: 180px;
    bottom: 170px;
}

/*.content__img {*/
/*    margin-left: 50px;*/
/*}*/

