/* Header */
.content__header {
    position: absolute;
    top: 26px;
    left: 70px;

    display: flex;
    height: 20px;

    align-items: center;
    font-size: 20px;
    font-family: "Circe", sans-serif;
    color: rgb(39, 39, 39);
    text-transform: uppercase;
}

.header-text {
    text-align: center;
}

.stick {
    height: 25px;
    margin-right: 25px;
}

.header-item {
    height: 20px;
    align-items: center;
    text-align: center;
    margin-right: 25px;
}