.second-box {
    min-width: 1024px;
    background: url("../Assets/image_part_002.jpg");
}

.second-box-wrapper {
    padding-inline: 70px 44px;
}

.second-box__title {
    padding-top: 168px;
}

.second-box__scroll {
    padding-top: 15px;
    margin-left: 48px;
}

.second-box__text {
    padding: 30px;
    overflow: auto;
    overflow-x: hidden;
    display: inline-block;


    float: left;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2.723px 4.193px 116.25px 8.75px rgba(157, 185, 198, 0.39);
    width: 775px;
    max-height: 380px;
    -webkit-overflow-scrolling: touch;
}

/*.second-box__text::-webkit-scrollbar {*/
/*    width: 5px;*/
/*}*/


/*.second-box__text::-webkit-scrollbar-track {*/
/*    width: 2px;*/
/*    background-color: rgb(0, 0, 0);*/

/*}*/

/*.second-box__text::-webkit-scrollbar-thumb {*/
/*    border-radius: 100px;*/
/*    background: #df90b3;*/
/*    box-shadow: inset 2px 2px 5px 0 rgb(207, 87, 141);*/
/*}*/





::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 20px;
    border: none;
    background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}


::-webkit-scrollbar-thumb {

}

::-webkit-scrollbar-track {
    background-image: url("../Assets/SecondBox/scrollbar-trace.png");
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 7px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(207, 87, 141);
    top: 1px;
    width: 52px;
    height: 219px;

}
